<form action="{{ url_for('predict_datapoint')}}" method="post">
    <h1>
        <legend>Flight Price Prediction</legend>
    </h1>
    <div class="mb-3">
        <label class="form-label">Source</label>
        <select class="form-control" name="Source" placeholder="Enter your Source" required>
            <option class="placeholder" selected disabled value="">Select your Source</option>
            <option value="Banglore">Banglore</option>
            <option value="Chennai">Chennai</option>
            <option value="Delhi">Delhi</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Mumbai">Mumbai</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Destination</label>
        <select class="form-control" name="Destination" placeholder="Enter your Destination" required>
            <option class="placeholder" selected disabled value="">Select Destination</option>
            <option value="Banglore">Banglore</option>
            <option value="Cochin">Cochin</option>
            <option value="Delhi">Delhi</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Kolkata">Kolkata</option>
            <option value="New Delhi">New Delhi</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Total_Stops</label>
        <select class="form-control" name="Total_Stops" placeholder="Enter your Total_Stops" required>
            <option class="placeholder" selected disabled value="">Select Total_Stops</option>
            <option value="1 stop">1 stop</option>
            <option value="2 stops">2 stops</option>
            <option value="3 stops">3 stops</option>
            <option value="4 stops">4 stops</option>
            <option value="non-stop">non-stop</option>
        </select>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Next" required />
    </div>
</form>

<form action="{{ url_for('predict_datapoint')}}" method="post">
    <h1>
        <legend>Flight Price Prediction</legend>
    </h1>
    <div class="mb-3">
        <label class="form-label">Day of Journey</label>
        <input class="form-control" type="date" name="day_of_journey" placeholder="Enter the day of journey" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Airline</label>
        <select class="form-control" name="Airline" placeholder="Enter the Airline" required>
            <option class="placeholder" selected disabled value="">Select Airline</option>
            <option value="Air India">Air India</option>
            <option value="GoAir">GoAir</option>
            <option value="IndiGo">IndiGo</option>
            <option value="Jet Airways">Jet Airways</option>
            <option value="Jet Airways Business">Jet Airways Business</option>
            <option value="Multiple carriers">Multiple carriers</option>
            <option value="Multiple carriers Premium economy">Multiple carriers Premium economy</option>
            <option value="SpiceJet">SpiceJet</option>
            <option value="Trujet">Trujet</option>
            <option value="Vistara">Vistara</option>
            <option value="Vistara Premium economy">Vistara Premium economy</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Month of Journey</label>
        <select class="form-control" name="month_of_journey" placeholder="Enter the month of journey" required>
            <option class="placeholder" selected disabled value="">Select Month of Journey</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
    </div>
    
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Predict your Price" required />
    </div>
</form>

{% if results %}
    <h2>
        The prediction is {{results}}
    </h2>
{% endif %}
